In [1]:
import pandas as pd

s = pd.Series([1,2,3])

print(s)
# 0    1
# 1    2
# 2    3
# dtype: int64

0    1
1    2
2    3
dtype: int64

In [2]:
import pandas as pd

s = pd.Series([1,2,3],  index=['Amy', 'Bob', 'Tom'])
print(s)
# Amy    1
# Bob    2
# Tom    3
# dtype: int64

Amy    1
Bob    2
Tom    3
dtype: int64

In [3]:
import pandas as pd

df = pd.DataFrame([1, 2, 3])
print(df)

#    0
# 0  1
# 1  2
# 2  3

   0
0  1
1  2
2  3

In [4]:
import pandas as pd

df = pd.DataFrame([1, 2, 3], index=['a', 'b', 'c'], columns=['No'])
print(df)
#    No
# a   1
# b   2
# c   3

   No
a   1
b   2
c   3

In [5]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])

print(df)
#    0  1  2
# 0  1  2  3
# 1  4  5  6

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
#    A  B  C
# a  1  2  3
# b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [16]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [18, 20],
})
print(df)
#     Name  Age
# 0  Alice   18
# 1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [8]:
import pandas as pd

df = pd.DataFrame([
  {'Name': 'Alice', 'Age': 18},
  {'Name': 'Bob', 'Age': 20}
])
print(df)
#     Name  Age
# 0  Alice   18
# 1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [9]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
#    A  B  C
# a  1  2  3
# b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [10]:
print(df['B'])
# a    2
# b    5
# Name: B, dtype: int64

print(type(df['B']))
# <class 'pandas.core.series.Series'>

a    2
b    5
Name: B, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
print(df.shape)
print(df.size)
print(df.index)
print(df.columns)
print(df.values)

(2, 3)
6
Index(['a', 'b'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]]

In [21]:
print(df.describe())
print(df.info())

             Age
count   2.000000
mean   19.000000
std     1.414214
min    18.000000
25%    18.500000
50%    19.000000
75%    19.500000
max    20.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes
None

1. 請建立類似提供結果的 DataFrame：

In [17]:
import numpy as np
import pandas as pd

In [18]:
a=pd.DataFrame([[35,21],[41,34]],index=['2017 sales','2018 sales'],columns=['apples','bananas'])
a

            apples  bananas
2017 sales      35       21
2018 sales      41       34

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

In [22]:
b=pd.DataFrame([['Austin',139,'sun'],['Dalas',237,'sun'],['Austin',139,'Mon'],['Dalas',456,'Mon']],columns=['city','visitor','weekday'])
b

     city  visitor weekday
0  Austin      139     sun
1   Dalas      237     sun
2  Austin      139     Mon
3   Dalas      456     Mon

3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [23]:
Sunday_average_visitor=np.average(b[b['weekday']=='sun']['visitor'])
Monday_average_visitor=np.average(b[b['weekday']=='Mon']['visitor'])
print(Sunday_average_visitor)
print(Monday_average_visitor)

188.0
297.5

In [25]:
import numpy as np 
import pandas as pd 
data=pd.DataFrame([['Austin',139,'sun'],['Dallas',237,'sun'],['Austin',139,'Mon'],['Dallas',456,'Mon']],columns=['city','visitor','weekday'])
data

     city  visitor weekday
0  Austin      139     sun
1  Dallas      237     sun
2  Austin      139     Mon
3  Dallas      456     Mon

In [27]:
data[data['weekday']=='sun']['visitor'].mean()

188.0